.centered {
  text-align: center;
}

.non-centered {
  text-align: initial;
}

.inline {
  display: inline;
}

.width-40 {
  width: 40%;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.float-right {
  float: right;
}
